In [2]:
import pandas as pd
chlo = "chloride.csv"
sofa = "sofa_pan.csv"
aki = "aki_final.csv"

sofa = pd.read_csv(sofa)
chl = pd.read_csv(chlo)
aki = pd.read_csv(aki)

In [3]:
aki1 = aki[['icustay_id', 'day', 'aki_stage']]
aki1.head()

   icustay_id  day  aki_stage
0      200001  1.0        3.0
1      200001  2.0        3.0
2      200001  3.0        3.0
3      200001  4.0        NaN
4      200003  1.0        0.0

In [4]:
icuid = []
for icu in aki1['icustay_id']:
    icuid.append(icu)

In [5]:
my_Dict = {}
def new(icu_id):

    x = aki1[aki1['icustay_id'] == icu_id]

    if x[x['day'] == 1]['aki_stage'].any() == 0 and x[x['day'] >= 3]['aki_stage'].any() > 0:
        my_Dict[icu_id] = 1
    elif x[x['day'] == 1]['aki_stage'].any() == 1 and x[x['day'] >= 3]['aki_stage'].any() > 1:
        my_Dict[icu_id] = 1
    elif x[x['day'] == 1]['aki_stage'].any() == 2 and x[x['day'] >= 3]['aki_stage'].any() > 2:
        my_Dict[icu_id] = 1
    elif len(x[x['aki_stage'] >=3]) >= 3:
        my_Dict[icu_id] = 1
    else:
        my_Dict[icu_id] = 0

In [6]:
for icu_id in icuid:
    new(icu_id)

In [7]:
df = pd.DataFrame(list(my_Dict.items()), columns=['icustay_id', 'new_aki'])

In [8]:
df

       icustay_id  new_aki
0          262146        0
1          262147        0
2          262154        1
3          262156        0
4          262158        0
5          262164        1
6          262165        0
7          262169        1
8          262171        1
9          262172        0
10         262174        0
11         262178        0
12         262179        0
13         262181        0
14         262182        0
15         262186        0
16         262187        0
17         262189        0
18         262191        0
19         262192        0
20         262193        0
21         262194        0
22         262197        0
23         262198        0
24         262199        0
25         262201        0
26         262203        0
27         262204        1
28         262207        0
29         262210        0
...           ...      ...
52789      262078        0
52790      262081        0
52791      262083        0
52792      262084        0
52793      262085        0
52794      262086        0
52795      262090        0
52796      262094        0
52797      262100        0
52798      262101        0
52799      262102        0
52800      262105        0
52801      262107        0
52802      262109        1
52803      262111        1
52804      262115        1
52805      262117        0
52806      262119        0
52807      262120        1
52808      262121        0
52809      262125        1
52810      262126        0
52811      262127        0
52812      262128        0
52813      262129        1
52814      262131        0
52815      262135        0
52816      262139        0
52817      262140        0
52818      262141        0

[52819 rows x 2 columns]

In [ ]:
df.to_csv('newaki.csv', encoding='utf-8', index=False)