In [1]:
import psycopg2
import pandas as pd

sqluser = 'student'
dbname = 'mimic'
password = 'lipup'
host = 'luolabwkstn01.fsm.northwestern.edu'
port = '5432'
schema_name = 'mimiciii'

con = psycopg2.connect(dbname = dbname, user = sqluser, password = password, host = host, port = port)

In [87]:
query = """
select subject_id,hadm_id,admittime from mimiciii.admissions order by subject_id, admittime
"""

df = pd.read_sql_query(query, con)
df.head()

   subject_id  hadm_id           admittime
0           2   163353 2138-07-17 19:04:00
1           3   145834 2101-10-20 19:08:00
2           4   185777 2191-03-16 00:28:00
3           5   178980 2103-02-02 04:31:00
4           6   107064 2175-05-30 07:15:00

In [88]:
import numpy as np
import pandas as pd
import datetime

In [102]:
# Diagnosis Code(group by elixhauser)
df_icd = pd.read_csv('elixhauser.csv')
df_icd = df_icd.drop(df_icd.columns[[0]], axis=1)

df_icd.head()

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,paralysis,other_neurological,chronic_pulmonary,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,100001,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100006,0.0,1.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100007,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100009,0.0,1.0,0.0,0.0,1.0,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0



df_icd['CARDIOVASCULAR'] = np.where(((df_icd['congestive_heart_failure'] == 1) 
                                    | (df_icd['cardiac_arrhythmias'] == 1)
                                    | (df_icd['valvular_disease'] == 1)
                                    | (df_icd['pulmonary_circulation'] == 1)
                                    | (df_icd['peripheral_vascular'] == 1)
                                    ), 1, 0)

df_icd['RESPIRATORY'] = np.where((df_icd['chronic_pulmonary'] == 1) , 1, 0)

df_icd['RENAL'] = np.where((df_icd['renal_failure'] == 1)  , 1, 0)

df_icd['HEPATIC'] = np.where((df_icd['liver_disease'] == 1)  , 1, 0)

df_icd['CANCER'] = np.where(((df_icd['lymphoma'] == 1) 
                                    | (df_icd['metastatic_cancer'] == 1)
                                    | (df_icd['solid_tumor'] == 1)
                                    ), 1, 0)

df_icd['DIABETES'] = np.where(((df_icd['diabetes_uncomplicated'] == 1) 
                                    | (df_icd['diabetes_complicated'] == 1)
                                    ), 1, 0)

df_icd['Total']= df_icd.iloc[:, 1:32].sum(axis=1)

#MULTIPLE COMORBIDITIES = Having 2 or more comorbidities.
df_icd['MULTIPLE COMORBIDITIES'] = np.where((df_icd.iloc[:, 1:32].sum(axis=1) >= 2
                                    ), 1, 0)


df_icd.head()

df_icd = df_icd.filter(['hadm_id','CARDIOVASCULAR','RESPIRATORY','RENAL','HEPATIC','CANCER','DIABETES','MULTIPLE COMORBIDITIES'])

df_icd.head()

In [104]:
COMBIDITIES = ['congestive_heart_failure',
       'cardiac_arrhythmias', 'valvular_disease', 'pulmonary_circulation',
       'peripheral_vascular', 'hypertension', 
        'chronic_pulmonary', 
       'diabetes_complicated',  'renal_failure',
       'liver_disease',  
        'coagulopathy',  'fluid_electrolyte',
       'blood_loss_anemia']

In [103]:
df_icd = df_icd.filter(['hadm_id','congestive_heart_failure',
       'cardiac_arrhythmias', 'valvular_disease', 'pulmonary_circulation',
       'peripheral_vascular', 'hypertension', 
        'chronic_pulmonary', 
       'diabetes_complicated',  'renal_failure',
       'liver_disease',  
        'coagulopathy',  'fluid_electrolyte',
       'blood_loss_anemia'
       ])
df_icd.head()

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia
0,100001,0.0,0.0,0.0,0.0,0.0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,100003,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,100006,0.0,1.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,100007,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100009,0.0,1.0,0.0,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
df_icd = df_icd.fillna(0)

In [109]:
df_icd[COMBIDITIES] = df_icd[COMBIDITIES].astype(np.int64)
df_icd.head()

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia
0,100001,0,0,0,0,0,1,0,1,1,0,0,0,0
1,100003,0,0,0,0,0,1,0,0,0,1,0,0,0
2,100006,0,1,0,0,0,0,0,0,0,0,0,1,0
3,100007,0,0,0,0,0,1,0,0,0,0,0,0,0
4,100009,0,1,0,0,1,1,0,0,0,0,0,0,0

In [110]:
df_icd = df_icd.set_index('hadm_id')
df = df.set_index('hadm_id')

In [111]:
data = df_icd.join(df, how = 'left')
data = data.reset_index()
data

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
0,100001,0,0,0,0,0,1,0,1,1,0,0,0,0,58526,2117-09-11 11:46:00
1,100003,0,0,0,0,0,1,0,0,0,1,0,0,0,54610,2150-04-17 15:34:00
2,100006,0,1,0,0,0,0,0,0,0,0,0,1,0,9895,2108-04-06 15:49:00
3,100007,0,0,0,0,0,1,0,0,0,0,0,0,0,23018,2145-03-31 05:33:00
4,100009,0,1,0,0,1,1,0,0,0,0,0,0,0,533,2162-05-16 15:56:00
5,100010,0,0,0,0,0,0,0,0,0,0,0,1,0,55853,2109-12-10 07:15:00
6,100011,0,0,0,0,0,0,0,0,0,0,0,0,0,87977,2177-08-29 04:51:00
7,100012,0,0,0,0,0,1,0,0,0,0,0,0,0,60039,2177-03-12 11:48:00
8,100014,0,0,0,0,0,0,0,0,0,0,0,0,0,23804,2111-03-05 03:42:00
9,100016,0,0,0,0,0,0,0,0,0,0,0,0,0,68591,2188-05-24 13:06:00
10,100017,0,0,0,0,0,0,0,0,0,0,0,1,0,16229,2103-03-11 00:54:00
11,100018,1,1,0,0,1,1,1,1,1,0,0,1,0,58128,2176-08-29 10:30:00
12,100019,0,1,1,0,1,0,0,0,0,0,0,0,0,67987,2138-06-09 07:15:00
13,100020,1,0,0,0,0,1,0,0,0,1,0,1,0,9973,2142-11-30 01:53:00
14,100021,0,1,0,0,0,1,0,0,0,1,1,0,0,29971,2109-08-17 10:55:00
15,100023,0,0,0,0,0,0,0,0,0,0,0,0,0,1189,2130-05-28 05:59:00
16,100024,0,1,0,0,0,1,0,0,0,0,0,0,0,77221,2170-09-19 07:30:00
17,100025,0,0,0,0,0,0,0,0,0,0,0,0,0,4528,2191-07-13 07:47:00
18,100028,0,1,0,0,0,0,0,0,0,0,1,0,0,53456,2142-12-23 18:06:00
19,100029,0,0,0,0,0,0,0,0,0,0,0,0,0,14509,2185-04-17 11:50:00
20,100030,0,0,0,0,0,0,0,0,0,0,0,1,0,12803,2199-12-03 20:37:00
21,100031,0,1,1,0,0,1,0,0,0,0,0,0,0,6892,2140-11-11 07:15:00
22,100033,0,0,0,0,0,0,0,0,0,0,0,0,0,26773,2194-07-05 23:04:00
23,100034,0,0,0,0,0,1,0,0,0,0,0,0,0,51495,2164-04-23 07:15:00
24,100035,1,1,0,0,0,1,1,0,1,0,0,1,0,48539,2115-02-22 06:51:00
25,100036,1,1,0,0,1,1,0,0,1,0,0,1,0,30078,2187-07-13 13:58:00
26,100037,0,1,0,0,0,1,0,0,0,0,1,0,0,58947,2183-03-23 18:21:00
27,100038,0,0,0,0,0,1,0,1,0,0,0,1,0,21234,2127-07-11 22:56:00
28,100039,1,0,0,1,0,1,1,0,1,1,0,0,0,53014,2174-04-18 23:16:00
29,100040,0,0,0,0,0,1,0,0,0,0,0,0,0,45631,2193-06-27 18:52:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58946,199952,1,1,0,0,1,1,0,0,0,0,0,0,0,22711,2134-03-07 21:25:00
58947,199954,0,0,0,0,0,0,0,0,0,0,0,0,0,13446,2120-11-08 09:45:00
58948,199955,1,0,1,0,0,1,0,0,1,0,0,1,0,2889,2197-07-04 22:17:00
58949,199956,0,0,0,0,1,0,0,0,0,0,0,0,0,31545,2174-03-14 01:05:00
58950,199957,0,0,0,0,0,0,1,0,0,0,1,0,0,97714,2181-04-07 10:52:00
58951,199958,0,1,0,0,0,0,0,0,0,0,0,0,0,26705,2178-09-02 20:58:00
58952,199960,0,0,0,0,0,0,0,0,0,0,0,0,0,10010,2178-03-23 21:22:00
58953,199961,0,0,0,0,0,1,0,1,1,0,0,0,0,20620,2115-06-29 00:03:00
58954,199962,0,0,0,0,0,0,0,0,0,0,0,0,0,53283,2118-07-16 05:41:00
58955,199963,1,1,1,0,0,1,0,0,0,0,0,0,0,5478,2101-08-23 16:43:00
58956,199964,0,1,0,0,0,0,0,1,1,0,0,0,0,18356,2149-01-14 17:59:00
58957,199967,0,0,0,1,0,1,1,0,0,0,0,0,0,42131,2184-07-31 16:22:00
58958,199968,0,0,0,0,0,0,0,0,0,0,0,0,0,10226,2107-11-04 16:22:00
58959,199969,0,1,0,0,1,1,1,0,0,0,0,1,1,6653,2201-01-26 07:15:00
58960,199971,0,0,0,0,0,1,0,0,0,0,1,0,0,5348,2171-12-09 07:15:00
58961,199972,1,1,1,0,0,1,1,0,1,0,0,0,0,81561,2186-08-29 07:15:00
58962,199973,0,0,0,0,0,0,0,0,0,0,0,0,0,15400,2163-08-16 23:50:00
58963,199976,0,0,0,0,0,0,0,0,0,0,0,0,0,26198,2182-02-02 16:09:00
58964,199979,0,1,0,0,0,1,0,0,0,0,0,1,0,41115,2182-02-05 03:30:00
58965,199981,1,0,0,0,0,1,1,0,1,0,0,0,0,28616,2110-09-24 15:32:00
58966,199984,0,1,0,0,0,1,1,0,0,0,0,0,0,55617,2191-06-08 17:19:00
58967,199986,0,0,0,0,0,1,0,0,0,0,0,0,0,5887,2188-10-30 16:55:00
58968,199987,0,0,0,0,0,0,0,0,0,0,0,0,0,28549,2175-05-19 18:27:00
58969,199988,0,0,0,0,0,0,0,0,0,0,0,0,0,25780,2169-01-24 07:15:00
58970,199992,0,0,0,0,1,0,0,0,0,0,0,1,0,94911,2155-02-11 17:13:00
58971,199993,1,1,1,0,0,0,0,0,0,0,0,1,0,20785,2161-10-23 18:01:00
58972,199994,1,1,1,1,0,0,1,0,1,0,0,1,0,23761,2188-07-07 18:47:00
58973,199995,0,0,1,0,1,0,0,0,0,0,0,0,0,19412,2137-12-11 17:35:00
58974,199998,0,1,0,0,1,1,0,0,0,0,0,0,0,27200,2119-02-18 16:26:00
58975,199999,0,0,0,0,0,0,0,0,0,0,0,1,0,40370,2136-04-04 23:37:00

data.to_csv('current_comorbidities.csv')

COMBIDITIES = list(data.columns.values)[1:-2]
COMBIDITIES

In [112]:
data = data.sort_values(by=['subject_id','admittime'])
data

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
37314,163353,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2138-07-17 19:04:00
27026,145834,1,0,0,0,0,0,0,0,0,0,0,0,0,3,2101-10-20 19:08:00
50577,185777,0,0,0,0,0,0,0,0,0,1,0,1,0,4,2191-03-16 00:28:00
46647,178980,0,0,0,0,0,0,0,0,0,0,0,0,0,5,2103-02-02 04:31:00
4182,107064,0,0,0,0,0,0,0,0,0,0,0,1,0,6,2175-05-30 07:15:00
10693,118037,0,0,0,0,0,0,0,0,0,0,0,0,0,7,2121-05-23 15:05:00
35058,159514,0,0,0,0,0,0,0,0,0,0,0,0,0,8,2117-11-20 10:22:00
29933,150750,1,0,0,0,0,1,0,0,0,0,0,1,0,9,2149-11-09 13:06:00
49646,184167,0,0,0,0,0,0,0,0,0,0,0,0,0,10,2103-06-28 11:36:00
55781,194540,0,0,0,0,0,0,0,0,0,0,0,0,0,11,2178-04-16 06:18:00
7233,112213,0,0,0,0,0,1,0,0,0,0,0,0,0,12,2104-08-07 10:15:00
25401,143045,0,0,0,0,0,1,0,0,0,0,0,0,0,13,2167-01-08 18:43:00
1947,103251,0,0,0,0,0,0,0,0,0,0,0,0,0,16,2178-02-03 06:35:00
55471,194023,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2134-12-27 07:15:00
35965,161087,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2135-05-09 14:11:00
52394,188822,0,0,0,0,0,1,0,0,0,0,0,0,0,18,2167-10-02 11:18:00
5461,109235,0,0,0,0,1,1,0,0,0,0,0,0,0,19,2108-08-05 16:25:00
34010,157681,0,0,0,0,0,1,0,0,0,0,0,0,0,20,2183-04-28 09:45:00
5601,109451,1,1,0,0,0,1,0,0,1,0,0,0,0,21,2134-09-11 12:17:00
7089,111970,0,1,0,0,1,1,0,0,1,0,0,0,0,21,2135-01-30 20:50:00
38465,165315,0,0,0,0,0,1,0,0,0,0,0,0,0,22,2196-04-09 12:26:00
30812,152223,0,0,1,0,0,1,0,0,0,0,0,0,0,23,2153-09-03 07:15:00
14365,124321,0,0,1,0,0,1,0,0,0,0,0,0,0,23,2157-10-18 19:34:00
36419,161859,0,0,0,0,0,0,0,0,0,0,0,0,0,24,2139-06-06 16:14:00
17534,129635,0,0,0,0,0,1,0,0,0,0,0,0,0,25,2160-11-02 02:06:00
57642,197661,1,1,0,0,0,0,0,0,0,0,0,0,0,26,2126-05-06 15:16:00
20619,134931,0,0,0,0,0,0,0,0,0,0,0,0,0,27,2191-11-30 22:16:00
36832,162569,0,0,0,0,0,0,1,0,0,0,0,0,0,28,2177-09-01 07:15:00
2720,104557,1,1,0,1,0,1,0,0,0,0,0,0,0,30,2172-10-14 14:17:00
16951,128652,0,0,0,0,0,1,0,0,0,0,0,0,0,31,2108-08-22 23:27:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18715,131711,1,1,0,0,0,1,0,0,1,0,0,1,0,99901,2173-01-06 15:51:00
21230,135939,0,0,0,0,0,1,0,0,0,0,0,0,0,99903,2146-01-06 18:17:00
52709,189380,0,0,0,0,1,0,0,0,0,0,0,1,0,99912,2153-04-13 16:05:00
44850,175989,0,1,1,0,1,1,0,0,0,0,0,0,0,99913,2141-05-10 20:41:00
13932,123563,0,1,0,0,0,0,0,0,0,0,0,1,0,99922,2107-04-07 07:15:00
38226,164914,0,0,0,0,0,0,0,0,1,1,0,1,0,99923,2201-02-23 20:42:00
54326,192053,0,0,0,1,0,1,1,0,1,1,0,1,0,99923,2201-05-15 13:12:00
2876,104802,0,0,0,0,0,0,0,0,0,0,0,0,0,99928,2181-11-16 16:20:00
44922,176121,0,0,0,0,0,0,1,0,0,0,0,0,0,99934,2110-02-28 03:47:00
44040,174624,0,0,0,0,0,0,0,0,0,0,0,0,0,99935,2139-12-15 06:59:00
4673,107913,0,1,0,0,0,0,0,0,1,0,0,0,0,99936,2182-10-10 13:57:00
17385,129380,0,0,0,0,0,1,0,0,0,0,0,0,0,99937,2128-05-11 15:16:00
2277,103815,1,0,1,0,0,1,1,0,1,0,0,1,0,99938,2200-10-24 17:53:00
34777,159023,0,0,0,0,0,1,0,0,1,0,1,0,0,99939,2110-03-22 04:03:00
50508,185654,1,1,1,0,0,1,0,0,1,0,0,0,0,99944,2161-02-16 20:14:00
33709,157197,0,0,0,0,0,0,0,0,0,0,0,1,0,99946,2161-07-14 20:29:00
5028,108494,0,0,0,0,0,1,0,1,0,0,0,1,0,99955,2139-07-14 02:31:00
28639,148574,0,0,0,0,0,1,0,1,0,0,0,0,0,99957,2157-02-20 22:56:00
668,101083,0,0,0,0,0,1,1,0,0,0,0,0,0,99965,2191-07-13 19:39:00
39575,167228,0,1,0,0,0,1,0,0,0,0,0,0,0,99966,2191-08-23 23:16:00
29613,150202,0,0,0,0,0,0,0,0,0,0,0,1,0,99973,2180-11-27 02:30:00
30364,151454,1,1,1,0,0,0,0,0,0,0,1,0,0,99982,2156-11-28 11:56:00
7547,112748,1,1,1,1,0,0,1,0,0,0,0,1,0,99982,2157-01-05 17:27:00
49427,183791,1,1,1,0,0,0,0,0,0,0,1,0,0,99982,2157-02-16 17:31:00
10335,117390,0,0,0,0,0,1,0,0,0,0,0,0,0,99983,2193-04-26 11:35:00
45236,176670,0,0,0,0,0,0,0,0,0,0,0,0,0,99985,2181-01-27 02:47:00
30162,151118,1,0,0,0,0,1,0,0,0,0,0,1,0,99991,2184-12-24 08:30:00
57285,197084,0,0,0,0,0,1,0,0,0,0,0,0,0,99992,2144-07-25 18:03:00
22323,137810,1,0,1,0,1,0,0,0,0,0,0,0,0,99995,2147-02-08 08:00:00
7928,113369,0,0,0,0,0,1,0,0,0,0,0,0,0,99999,2117-12-30 07:15:00

In [113]:
sid = []
for sd in data['subject_id']:
    sid.append(sd)
sid_all = list(set(sid))

In [114]:
from itertools import groupby
sid_repeat = [key for key,group in groupby(sid) if len(list(group)) > 1]
len(sid_repeat)

7537

In [115]:
from tqdm import tqdm, trange

In [122]:
data

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
37314,163353,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2138-07-17 19:04:00
27026,145834,1,0,0,0,0,0,0,0,0,0,0,0,0,3,2101-10-20 19:08:00
50577,185777,0,0,0,0,0,0,0,0,0,1,0,1,0,4,2191-03-16 00:28:00
46647,178980,0,0,0,0,0,0,0,0,0,0,0,0,0,5,2103-02-02 04:31:00
4182,107064,0,0,0,0,0,0,0,0,0,0,0,1,0,6,2175-05-30 07:15:00
10693,118037,0,0,0,0,0,0,0,0,0,0,0,0,0,7,2121-05-23 15:05:00
35058,159514,0,0,0,0,0,0,0,0,0,0,0,0,0,8,2117-11-20 10:22:00
29933,150750,1,0,0,0,0,1,0,0,0,0,0,1,0,9,2149-11-09 13:06:00
49646,184167,0,0,0,0,0,0,0,0,0,0,0,0,0,10,2103-06-28 11:36:00
55781,194540,0,0,0,0,0,0,0,0,0,0,0,0,0,11,2178-04-16 06:18:00
7233,112213,0,0,0,0,0,1,0,0,0,0,0,0,0,12,2104-08-07 10:15:00
25401,143045,0,0,0,0,0,1,0,0,0,0,0,0,0,13,2167-01-08 18:43:00
1947,103251,0,0,0,0,0,0,0,0,0,0,0,0,0,16,2178-02-03 06:35:00
55471,194023,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2134-12-27 07:15:00
35965,161087,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2135-05-09 14:11:00
52394,188822,0,0,0,0,0,1,0,0,0,0,0,0,0,18,2167-10-02 11:18:00
5461,109235,0,0,0,0,1,1,0,0,0,0,0,0,0,19,2108-08-05 16:25:00
34010,157681,0,0,0,0,0,1,0,0,0,0,0,0,0,20,2183-04-28 09:45:00
5601,109451,1,1,0,0,0,1,0,0,1,0,0,0,0,21,2134-09-11 12:17:00
7089,111970,0,1,0,0,1,1,0,0,1,0,0,0,0,21,2135-01-30 20:50:00
38465,165315,0,0,0,0,0,1,0,0,0,0,0,0,0,22,2196-04-09 12:26:00
30812,152223,0,0,1,0,0,1,0,0,0,0,0,0,0,23,2153-09-03 07:15:00
14365,124321,0,0,1,0,0,1,0,0,0,0,0,0,0,23,2157-10-18 19:34:00
36419,161859,0,0,0,0,0,0,0,0,0,0,0,0,0,24,2139-06-06 16:14:00
17534,129635,0,0,0,0,0,1,0,0,0,0,0,0,0,25,2160-11-02 02:06:00
57642,197661,1,1,0,0,0,0,0,0,0,0,0,0,0,26,2126-05-06 15:16:00
20619,134931,0,0,0,0,0,0,0,0,0,0,0,0,0,27,2191-11-30 22:16:00
36832,162569,0,0,0,0,0,0,1,0,0,0,0,0,0,28,2177-09-01 07:15:00
2720,104557,1,1,0,1,0,1,0,0,0,0,0,0,0,30,2172-10-14 14:17:00
16951,128652,0,0,0,0,0,1,0,0,0,0,0,0,0,31,2108-08-22 23:27:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18715,131711,1,1,0,0,0,1,0,0,1,0,0,1,0,99901,2173-01-06 15:51:00
21230,135939,0,0,0,0,0,1,0,0,0,0,0,0,0,99903,2146-01-06 18:17:00
52709,189380,0,0,0,0,1,0,0,0,0,0,0,1,0,99912,2153-04-13 16:05:00
44850,175989,0,1,1,0,1,1,0,0,0,0,0,0,0,99913,2141-05-10 20:41:00
13932,123563,0,1,0,0,0,0,0,0,0,0,0,1,0,99922,2107-04-07 07:15:00
38226,164914,0,0,0,0,0,0,0,0,1,1,0,1,0,99923,2201-02-23 20:42:00
54326,192053,0,0,0,1,0,1,1,0,1,1,0,1,0,99923,2201-05-15 13:12:00
2876,104802,0,0,0,0,0,0,0,0,0,0,0,0,0,99928,2181-11-16 16:20:00
44922,176121,0,0,0,0,0,0,1,0,0,0,0,0,0,99934,2110-02-28 03:47:00
44040,174624,0,0,0,0,0,0,0,0,0,0,0,0,0,99935,2139-12-15 06:59:00
4673,107913,0,1,0,0,0,0,0,0,1,0,0,0,0,99936,2182-10-10 13:57:00
17385,129380,0,0,0,0,0,1,0,0,0,0,0,0,0,99937,2128-05-11 15:16:00
2277,103815,1,0,1,0,0,1,1,0,1,0,0,1,0,99938,2200-10-24 17:53:00
34777,159023,0,0,0,0,0,1,0,0,1,0,1,0,0,99939,2110-03-22 04:03:00
50508,185654,1,1,1,0,0,1,0,0,1,0,0,0,0,99944,2161-02-16 20:14:00
33709,157197,0,0,0,0,0,0,0,0,0,0,0,1,0,99946,2161-07-14 20:29:00
5028,108494,0,0,0,0,0,1,0,1,0,0,0,1,0,99955,2139-07-14 02:31:00
28639,148574,0,0,0,0,0,1,0,1,0,0,0,0,0,99957,2157-02-20 22:56:00
668,101083,0,0,0,0,0,1,1,0,0,0,0,0,0,99965,2191-07-13 19:39:00
39575,167228,0,1,0,0,0,1,0,0,0,0,0,0,0,99966,2191-08-23 23:16:00
29613,150202,0,0,0,0,0,0,0,0,0,0,0,1,0,99973,2180-11-27 02:30:00
30364,151454,1,1,1,0,0,0,0,0,0,0,1,0,0,99982,2156-11-28 11:56:00
7547,112748,1,1,1,1,0,0,1,0,0,0,0,1,0,99982,2157-01-05 17:27:00
49427,183791,1,1,1,0,0,0,0,0,0,0,1,0,0,99982,2157-02-16 17:31:00
10335,117390,0,0,0,0,0,1,0,0,0,0,0,0,0,99983,2193-04-26 11:35:00
45236,176670,0,0,0,0,0,0,0,0,0,0,0,0,0,99985,2181-01-27 02:47:00
30162,151118,1,0,0,0,0,1,0,0,0,0,0,1,0,99991,2184-12-24 08:30:00
57285,197084,0,0,0,0,0,1,0,0,0,0,0,0,0,99992,2144-07-25 18:03:00
22323,137810,1,0,1,0,1,0,0,0,0,0,0,0,0,99995,2147-02-08 08:00:00
7928,113369,0,0,0,0,0,1,0,0,0,0,0,0,0,99999,2117-12-30 07:15:00

In [129]:
x = data.loc[data['subject_id'] == 357]
x

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
43954,174486,1,0,0,0,0,0,0,0,0,1,1,0,0,357,2197-12-06 07:13:00
26926,145674,0,1,0,0,0,1,0,0,0,1,0,0,0,357,2198-08-02 04:49:00
13363,122609,1,0,0,0,0,1,0,0,0,1,0,1,0,357,2198-11-01 22:36:00
998,101651,1,0,0,0,0,1,0,0,0,1,0,1,0,357,2199-10-20 12:05:00
10607,117876,1,0,0,0,0,1,0,1,0,1,0,1,0,357,2199-12-21 22:37:00

In [141]:
new = [0,x['diabetes_complicated'].values[0]]
new

[0, 0]

In [142]:
for i in range(2, len(x)):
    new.append(new[i-1]|x[com].values[i-1])
x['diabetes_complicated'] = new

/Users/panyiheng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [143]:
x

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
43954,174486,1,0,0,0,0,0,0,0,0,1,1,0,0,357,2197-12-06 07:13:00
26926,145674,0,1,0,0,0,1,0,0,0,1,0,0,0,357,2198-08-02 04:49:00
13363,122609,1,0,0,0,0,1,0,0,0,1,0,1,0,357,2198-11-01 22:36:00
998,101651,1,0,0,0,0,1,0,0,0,1,0,1,0,357,2199-10-20 12:05:00
10607,117876,1,0,0,0,0,1,0,0,0,1,0,1,0,357,2199-12-21 22:37:00

In [145]:
df = pd.DataFrame([])
for sd in tqdm(sid_repeat):
    x = data.loc[data['subject_id'] == sd] 
    for com in COMBIDITIES:
        new = [0, x[com].values[0]]
        for i in range(2, len(x)):
            new.append(new[i-1]|x[com].values[i-1])
        x[com] = new
    df = df.append(x)

  0%|          | 0/7537 [00:00<?, ?it/s]/Users/panyiheng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7537/7537 [1:20:22<00:00,  1.57it/s]

In [146]:
df

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
55471,194023,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2134-12-27 07:15:00
35965,161087,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2135-05-09 14:11:00
5601,109451,0,0,0,0,0,0,0,0,0,0,0,0,0,21,2134-09-11 12:17:00
7089,111970,1,1,0,0,0,1,0,0,1,0,0,0,0,21,2135-01-30 20:50:00
30812,152223,0,0,0,0,0,0,0,0,0,0,0,0,0,23,2153-09-03 07:15:00
14365,124321,0,0,1,0,0,1,0,0,0,0,0,0,0,23,2157-10-18 19:34:00
9386,115799,0,0,0,0,0,0,0,0,0,0,0,0,0,34,2186-07-18 16:46:00
26136,144319,1,1,0,0,0,0,0,0,0,0,0,0,0,34,2191-02-23 05:23:00
48458,182104,0,0,0,0,0,0,0,0,0,0,0,0,0,36,2131-04-30 07:15:00
13394,122659,0,0,0,0,0,1,1,0,0,0,0,0,0,36,2131-05-12 19:49:00
38672,165660,0,0,0,1,0,1,1,0,0,0,0,0,0,36,2134-05-10 11:30:00
45036,176332,0,0,0,0,0,0,0,0,0,0,0,0,0,61,2118-06-17 14:40:00
52804,189535,0,0,0,0,0,0,0,0,0,0,1,0,0,61,2119-01-04 18:12:00
51009,186474,0,0,0,0,0,0,0,0,0,0,0,0,0,67,2155-02-25 12:45:00
32579,155252,0,0,0,0,0,1,0,0,0,0,0,1,0,67,2157-12-02 00:45:00
41579,170467,0,0,0,0,0,0,0,0,0,0,0,0,0,68,2173-12-15 16:16:00
4924,108329,1,0,0,0,0,0,0,0,1,0,0,1,0,68,2174-01-04 22:21:00
12429,120969,0,0,0,0,0,0,0,0,0,0,0,0,0,84,2196-02-02 07:15:00
39108,166401,0,0,0,0,0,0,0,0,0,0,0,0,0,84,2196-04-14 04:02:00
9858,116630,0,0,0,0,0,0,0,0,0,0,0,0,0,85,2162-03-02 14:04:00
7150,112077,0,0,0,0,1,0,0,0,0,0,0,0,0,85,2167-07-25 18:49:00
49369,183686,0,0,0,0,0,0,0,0,0,0,0,0,0,94,2176-02-25 16:49:00
23629,140037,0,1,1,0,0,1,0,0,0,0,0,0,0,94,2176-09-02 14:22:00
18174,130744,0,0,0,0,0,0,0,0,0,0,0,0,0,103,2144-08-12 17:37:00
19798,133550,0,0,0,0,0,1,0,0,0,0,0,0,0,103,2144-08-30 23:09:00
36008,161160,0,0,0,0,0,0,0,0,0,0,0,0,0,105,2189-01-28 16:57:00
17000,128744,1,1,0,0,0,0,0,0,0,0,0,1,0,105,2189-02-21 01:45:00
54260,191941,0,0,0,0,0,0,0,0,0,0,0,0,0,107,2115-02-20 17:41:00
48609,182383,0,0,0,0,0,1,0,0,1,0,0,0,0,107,2121-11-30 19:24:00
43760,174162,1,0,0,0,0,1,0,0,1,0,0,1,0,107,2122-05-14 19:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44486,175391,0,0,0,0,0,0,0,0,0,0,0,0,0,99613,2152-11-03 18:12:00
45748,177517,0,0,0,0,0,1,1,0,0,0,0,1,0,99613,2153-02-10 01:00:00
54328,192055,0,0,0,0,0,0,0,0,0,0,0,0,0,99647,2147-11-24 14:17:00
5758,109725,0,0,0,0,0,0,0,0,0,0,0,1,0,99647,2147-12-16 17:22:00
53601,190854,0,0,0,0,0,0,0,0,0,0,0,0,0,99650,2152-06-07 11:30:00
34218,158023,0,0,0,0,0,1,1,1,1,0,0,0,0,99650,2155-01-02 08:35:00
58891,199859,0,0,0,0,0,1,1,1,1,0,0,1,0,99650,2156-12-25 06:52:00
40398,168541,0,0,0,0,0,0,0,0,0,0,0,0,0,99660,2142-04-25 12:04:00
52507,189028,1,0,1,0,0,1,0,1,1,0,0,0,0,99660,2144-05-17 18:51:00
55672,194361,0,0,0,0,0,0,0,0,0,0,0,0,0,99712,2159-03-30 07:15:00
35247,159835,0,0,0,0,0,0,0,0,0,0,0,0,0,99712,2161-10-05 15:19:00
32263,154665,0,0,0,0,0,0,0,0,0,0,0,0,0,99756,2191-06-15 17:53:00
26559,145054,0,0,0,0,0,0,0,0,0,1,1,1,0,99756,2191-08-03 19:11:00
42747,172485,0,0,0,0,0,0,0,0,0,1,1,1,0,99756,2191-12-23 01:03:00
39920,167791,0,0,0,0,0,0,0,0,0,0,0,0,0,99781,2133-07-23 17:11:00
28037,147562,0,0,0,0,0,0,0,0,0,0,0,1,0,99781,2133-08-01 19:20:00
44017,174582,0,0,0,0,0,0,0,0,0,0,0,0,0,99783,2125-09-13 07:15:00
15411,126090,0,0,0,0,1,1,0,0,0,0,0,0,0,99783,2125-11-01 00:00:00
27716,146997,0,0,0,0,0,0,0,0,0,0,0,0,0,99822,2197-05-30 12:21:00
37167,163117,0,0,0,0,0,1,0,0,0,0,0,1,0,99822,2197-06-16 03:01:00
56575,195871,0,0,0,0,0,1,0,0,0,0,0,1,1,99822,2197-07-03 02:24:00
29936,150755,0,0,0,0,0,0,0,0,0,0,0,0,0,99883,2131-12-24 17:41:00
58133,198523,1,1,0,0,0,0,1,0,0,0,0,0,0,99883,2132-09-15 00:36:00
37044,162913,0,0,0,0,0,0,0,0,0,0,0,0,0,99897,2181-08-06 02:22:00
47870,181057,1,0,0,0,0,1,0,1,1,0,0,1,0,99897,2182-07-03 19:50:00
38226,164914,0,0,0,0,0,0,0,0,0,0,0,0,0,99923,2201-02-23 20:42:00
54326,192053,0,0,0,0,0,0,0,0,1,1,0,1,0,99923,2201-05-15 13:12:00
30364,151454,0,0,0,0,0,0,0,0,0,0,0,0,0,99982,2156-11-28 11:56:00
7547,112748,1,1,1,0,0,0,0,0,0,0,1,0,0,99982,2157-01-05 17:27:00
49427,183791,1,1,1,1,0,0,1,0,0,0,1,1,0,99982,2157-02-16 17:31:00

In [150]:
ddf = pd.DataFrame([])
for sd in tqdm(sid_repeat):
    x = df.loc[df['subject_id'] == sd] 
    x = x.iloc[1:]
    ddf = ddf.append(x)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7537/7537 [00:19<00:00, 396.36it/s]

In [151]:
ddf

,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,diabetes_complicated,renal_failure,liver_disease,coagulopathy,fluid_electrolyte,blood_loss_anemia,subject_id,admittime
35965,161087,0,0,0,0,0,0,0,0,0,0,0,0,0,17,2135-05-09 14:11:00
7089,111970,1,1,0,0,0,1,0,0,1,0,0,0,0,21,2135-01-30 20:50:00
14365,124321,0,0,1,0,0,1,0,0,0,0,0,0,0,23,2157-10-18 19:34:00
26136,144319,1,1,0,0,0,0,0,0,0,0,0,0,0,34,2191-02-23 05:23:00
13394,122659,0,0,0,0,0,1,1,0,0,0,0,0,0,36,2131-05-12 19:49:00
38672,165660,0,0,0,1,0,1,1,0,0,0,0,0,0,36,2134-05-10 11:30:00
52804,189535,0,0,0,0,0,0,0,0,0,0,1,0,0,61,2119-01-04 18:12:00
32579,155252,0,0,0,0,0,1,0,0,0,0,0,1,0,67,2157-12-02 00:45:00
4924,108329,1,0,0,0,0,0,0,0,1,0,0,1,0,68,2174-01-04 22:21:00
39108,166401,0,0,0,0,0,0,0,0,0,0,0,0,0,84,2196-04-14 04:02:00
7150,112077,0,0,0,0,1,0,0,0,0,0,0,0,0,85,2167-07-25 18:49:00
23629,140037,0,1,1,0,0,1,0,0,0,0,0,0,0,94,2176-09-02 14:22:00
19798,133550,0,0,0,0,0,1,0,0,0,0,0,0,0,103,2144-08-30 23:09:00
17000,128744,1,1,0,0,0,0,0,0,0,0,0,1,0,105,2189-02-21 01:45:00
48609,182383,0,0,0,0,0,1,0,0,1,0,0,0,0,107,2121-11-30 19:24:00
43760,174162,1,0,0,0,0,1,0,0,1,0,0,1,0,107,2122-05-14 19:37:00
17008,128755,0,0,0,0,0,1,0,0,1,0,0,0,0,109,2138-04-16 17:44:00
37705,164029,0,0,0,0,0,1,0,0,1,0,0,0,0,109,2140-01-19 13:25:00
4954,108375,0,0,0,0,0,1,0,0,1,0,0,0,0,109,2140-02-02 02:13:00
55041,193281,0,0,0,0,0,1,0,0,1,0,0,0,0,109,2140-04-07 19:51:00
44457,175347,1,0,0,0,0,1,0,0,1,0,0,0,0,109,2140-05-17 14:27:00
6343,110668,1,0,0,0,0,1,0,0,1,0,0,0,0,109,2140-08-25 14:39:00
38869,166018,1,0,0,0,0,1,0,0,1,0,0,0,0,109,2141-03-27 21:08:00
41376,170149,1,0,0,0,0,1,0,0,1,0,1,0,0,109,2141-05-24 14:47:00
27986,147469,1,0,0,0,0,1,0,0,1,0,1,1,0,109,2141-06-11 10:17:00
18517,131345,1,0,0,0,0,1,0,0,1,0,1,1,0,109,2141-09-05 20:04:00
23055,139061,1,0,0,0,0,1,0,0,1,0,1,1,0,109,2141-09-11 10:12:00
42655,172335,1,0,0,0,0,1,0,0,1,0,1,1,0,109,2141-09-18 10:32:00
15392,126055,1,0,0,0,0,1,0,0,1,0,1,1,0,109,2141-10-13 23:10:00
14946,125288,1,0,0,1,0,1,1,0,1,0,1,1,0,109,2141-11-18 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27079,145935,1,1,1,1,0,1,1,0,0,0,0,0,0,99439,2179-03-18 11:27:00
45919,177794,1,1,1,1,0,1,1,0,1,0,0,0,0,99439,2179-03-27 20:45:00
30912,152370,1,1,1,1,0,1,1,0,1,0,1,1,0,99439,2179-09-29 16:19:00
56787,196246,1,1,1,1,0,1,1,0,1,0,1,1,0,99439,2179-11-25 19:30:00
31696,153692,0,0,0,0,0,1,1,0,0,0,0,0,0,99464,2146-04-08 22:04:00
15373,126023,1,1,1,0,0,1,1,0,0,0,0,1,0,99469,2182-03-08 19:26:00
46855,179324,1,1,1,0,0,1,1,0,1,0,0,1,0,99469,2183-04-16 23:20:00
27636,146847,0,0,0,0,0,1,0,0,1,0,0,0,0,99503,2126-09-06 13:00:00
22671,138404,0,0,0,0,1,1,1,0,1,0,0,0,0,99503,2126-11-02 19:42:00
17101,128902,1,1,0,1,1,1,1,0,0,0,0,1,0,99538,2180-03-12 16:01:00
29757,150440,1,0,0,0,0,1,0,0,1,0,0,1,0,99556,2167-02-13 21:59:00
56812,196292,1,1,0,0,0,1,0,0,1,0,0,1,0,99556,2167-07-30 20:33:00
1032,101705,1,0,0,0,1,1,0,0,1,0,0,1,0,99562,2183-03-06 01:31:00
45748,177517,0,0,0,0,0,1,1,0,0,0,0,1,0,99613,2153-02-10 01:00:00
5758,109725,0,0,0,0,0,0,0,0,0,0,0,1,0,99647,2147-12-16 17:22:00
34218,158023,0,0,0,0,0,1,1,1,1,0,0,0,0,99650,2155-01-02 08:35:00
58891,199859,0,0,0,0,0,1,1,1,1,0,0,1,0,99650,2156-12-25 06:52:00
52507,189028,1,0,1,0,0,1,0,1,1,0,0,0,0,99660,2144-05-17 18:51:00
35247,159835,0,0,0,0,0,0,0,0,0,0,0,0,0,99712,2161-10-05 15:19:00
26559,145054,0,0,0,0,0,0,0,0,0,1,1,1,0,99756,2191-08-03 19:11:00
42747,172485,0,0,0,0,0,0,0,0,0,1,1,1,0,99756,2191-12-23 01:03:00
28037,147562,0,0,0,0,0,0,0,0,0,0,0,1,0,99781,2133-08-01 19:20:00
15411,126090,0,0,0,0,1,1,0,0,0,0,0,0,0,99783,2125-11-01 00:00:00
37167,163117,0,0,0,0,0,1,0,0,0,0,0,1,0,99822,2197-06-16 03:01:00
56575,195871,0,0,0,0,0,1,0,0,0,0,0,1,1,99822,2197-07-03 02:24:00
58133,198523,1,1,0,0,0,0,1,0,0,0,0,0,0,99883,2132-09-15 00:36:00
47870,181057,1,0,0,0,0,1,0,1,1,0,0,1,0,99897,2182-07-03 19:50:00
54326,192053,0,0,0,0,0,0,0,0,1,1,0,1,0,99923,2201-05-15 13:12:00
7547,112748,1,1,1,0,0,0,0,0,0,0,1,0,0,99982,2157-01-05 17:27:00
49427,183791,1,1,1,1,0,0,1,0,0,0,1,1,0,99982,2157-02-16 17:31:00

In [152]:
ddf.to_csv('comorbidities_history.csv')